* {
    box-sizing: border-box;
}

/* Navigation */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 80px;
    border-bottom: 1px solid #EBE8F4;
}

.nav-logo {
    color: #22202E;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    gap: 44px;
}

.nav-menu-link {
    color: #726E8D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.nav-icons {
    display: flex;
    gap: 16px;
}

.nav-icons-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-icons-wrapper {
    width: 16px;
    height: 16px;
}

.nav-icons-search {
    background-image: url(image/search.svg);
    background-size: cover;
}

.nav-icons-cart {
    background-image: url(image/shopping--cart.svg);
    background-size: cover;
}

.nav-icons-user {
    background-image: url(image/user--avatar.svg);
    background-size: cover;
}

/* Header */

.header {
    width: 100%;
    height: 223px;
}

.header-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2A254B;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.header-navigation{
    display: flex;
    justify-content: space-around;
    margin-top: 154px;
}

.header-menu {
    display: flex;
    position: relative;
    gap: 12px;
}

.header-menu-content {
    text-decoration: none;
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 12px 24px;
}

.header-menu-sorting {
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.header-submenu {
    display: none;
}

.header-submenu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-submenu-content {
    display: inline-block;
    width: 100%;
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
}

.header-submenu-content:hover {
    background-color: #DBDBDB;
}

.header-drop-menu:hover > ul {
    display: initial;
    position: relative;
}

/* All products */

.all-products {
    display: grid;
    grid-template-columns: 305px 305px 305px 305px;
    gap: 20px;
    padding: 28px 80px 20px 80px;
    justify-content: center;
}

.all-products-link {
    text-decoration: none;
    color: #2A254B;
}

.all-products-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 24px;
}

.all-products-price{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
}

.all-products-btn {
    display: block;
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 16px 32px;
    background-color: #F9F9F9;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 40px;
}

/* Join the club */

.join-club {
    display: inline-block;
    background-image: url(image/join-background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 521px;
}

.join-club-container{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}

.join-club-title {
    color: #2A254B;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin: 71px 0 0 49px;
}

.join-club-info {
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 470px;
    margin: 21px 0 0 49px;
}

.join-club-btn {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 16px 32px;
    width: 120px;
    background-color: #2A254B;
    border: none;
    margin: 216px 0 0 72px;
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: #2A254B;
    width: 100%;
    height: 380px;
    padding: 58px 82px 0 82px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 120px;
}

.footer-link {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.footer-line {
    margin-top: 48px;
    border-color: #4E4D93;
}

.footer-text {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
}

.footer-icons {
    display: flex;
    gap: 24px;
    margin-top: 22px;
}

.footer-icons-wrapper {
    width: 24px;
    height: 24px;
}

.footer-icons-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.footer-icons-linkedin {
    background-image: url(image/logo--linkedin.svg);
    background-size: cover;
}

.footer-icons-facebook {
    background-image: url(image/logo--facebook.svg);
    background-size: cover;
}

.footer-icons-instagram {
    background-image: url(image/logo--instagram.svg);
    background-size: cover;
}

.footer-icons-skype {
    background-image: url(image/logo--skype.svg);
    background-size: cover;
}

.footer-icons-twitter {
    background-image: url(image/logo--twitter.svg);
    background-size: cover;
}

.footer-icons-pinterest {
    background-image: url(image/logo--pinterest.svg);
    background-size: cover;
}